[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
functions-framework = "==3.*"
opencv-python-headless = "*"

[dev-packages]
ipykernel = "*"
matplotlib = "*"

[requires]
python_version = "3.11"
